@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700");

body{
    display: flex;
    flex-direction: column;
    background-color: #19172e;
    
    font-family: "PT Sans";
    
    min-height: 100vh;
}
#download-button {
background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
#downloadpdf {
background-color: #FF4500; /* orangeRed */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
#id-card {
  display: inline-block;
  float: left;
  margin-right: 2em;
}

.id-card {
  width: 336px;
  height: 192px;
  background: #ffffff;
  padding: 10px;
  position: relative;
 border: 2px solid red;
}
.id-card__mugshot {
  position: absolute;
  right: 10px;
  width: 100px;
  height: 100px;
  border-left: 4px solid red;
  background: #ffffff;
}
.id-card__mugshot img {
  width: 100px;
  height: 100px;
}
.id-card__logo {
  width: 200px;
}
.id-card__subject-id {
  position: absolute;
  top: 54px;
  left: 130px;
  font-family: monospace;
  font-size: 14pt;
  transform: rotate(-4deg);
}
.id-card__banner {
  height: 10pt;
  background: red;
  margin-top: 10px;
  margin-left: -10px;
  padding-left: 12px;
}
.id-card__banner-text {
  color: #ffffff;
  font-size: 8pt;
  letter-spacing: 2px;
  line-height: 0;
  position: relative;
  top: -6px;
}
.id-card__details {
  padding-top: 20px;
  font-size: 6pt;
  line-height: 1.5;
  text-transform: uppercase;
  width: 60%;
  display: inline-block;
}
.id-card__details--short {
  float: right;
  margin-left: 30px;
  width: 100px;
}
.id-card__details--stamp {
  float: right;
  bottom: 0;
  font-size: 7pt;
  color: #2D005D;
}
.id-card__detail {
  height: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
}
.id-card__detail + .id-card__detail {
  border-top: 1px solid #eeee;
}
.id-card__detail-label {
  color: #333;
  font-weight: bold;
}
.id-card__detail-label:after {
  content: " • ";
  font-weight: normal;
}

.logo__big {
color: blue;
font-size: 7pt;
font-weight: bold;
text-align: center;

position: center;
}
.logo__small {
	color: blue;
  font-size: 8pt;
    font-weight: bold;
  position: center;
  top: -10px;
  
}
.id-form {
color: white;
}
.id-form__row {
  padding-bottom: 8px;
}
.id-form__row--inline {
  width: 10em;
  padding-right: 1em;
  padding-bottom: 1em;
  display: inline-block;
}
.id-form__label {
  font-size: 10pt;
  font-weight: bold;
  line-height: 8pt;
}
input[type=text] {
  background-color: white;
  color: black;
  border: 2px solid red;
  border-radius: 4px;
}
input[type=number] {
  background-color: white;
  color: red;
  border: 2px solid #CCFFCC;
  border-radius: 4px;
}
input[type=date] {
  background-color: white;
  color: blue;
  border: 2px solid #FFFF99;
  border-radius: 4px;
}
select {
  // A reset of styles, including removing the default dropdown arrow
  appearance: none;
  // Additional resets for further consistency
  background-color: white;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
}
.material-ui-shadow {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.material-ui-shadow:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
footer {
    
    text-align: center;
    font-size: 1rem;
    color: white;
    bottom: 0;
    padding: 5px;
    line-height: 3vh;
}
a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
