@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700");

body{
    display: flex;
    flex-direction: column;
    background-color: #19172e;
    margin: 0;
        padding: 0;
    font-family: "PT Sans";
    
    min-height: 100vh;
}
#download-button {
background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
#downloadpdf {
background-color: #FF4500; /* orangeRed */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
#id-card {
  display: inline-block;
  float: center;
  margin-right: 2em;
  top: 10;
  right: 10;
  width: 100%;
  
}

.id-card {
  width: 336px;
  height: 192px;
  background: #ffffff;
  padding: 10px;
  position: relative;
 border: 2px solid red;
}
.id-card__mugshot {
  position: absolute;
  right: 10px;
  width: 100px;
  height: 100px;
  border-left: 4px solid red;
  background: #ffffff;
}
.id-card__mugshot img {
  width: 100px;
  height: 100px;
}
.id-card__logo {
  width: 200px;
}
.id-card__subject-id {
  position: absolute;
  top: 54px;
  left: 130px;
  font-family: monospace;
  font-size: 14pt;
  transform: rotate(-4deg);
}
.id-card__banner {
  height: 10pt;
  background: red;
  margin-top: 10px;
  margin-left: -10px;
  padding-left: 12px;
}
.id-card__banner-text {
  color: #ffffff;
  font-size: 8pt;
  letter-spacing: 2px;
  line-height: 0;
  position: relative;
  top: -6px;
}
.id-card__details {
  padding-top: 20px;
  font-size: 6pt;
  line-height: 1.5;
  text-transform: uppercase;
  width: 60%;
  display: inline-block;
}
.id-card__details--short {
  float: right;
  margin-left: 30px;
  width: 100px;
}
.id-card__details--stamp {
  float: right;
  bottom: 0;
  font-size: 7pt;
  color: #2D005D;
}
.id-card__detail {
  height: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
}
.id-card__detail + .id-card__detail {
  border-top: 1px solid #eeee;
}
.id-card__detail-label {
  color: #333;
  font-weight: bold;
}
.id-card__detail-label:after {
  content: " • ";
  font-weight: normal;
}

.logo__big {
color: blue;
font-size: 7pt;
font-weight: bold;
text-align: center;

position: center;
}
.logo__small {
	color: blue;
  font-size: 8pt;
    font-weight: bold;
  position: center;
  top: -10px;
  
}
p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

label {
  display: flex;
  align-items: center;
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
}
input,
button,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  border: none;
}

.container {
  width: 100%;
  margin: 3.125rem auto 0 auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

.header {
  padding: 0 0.625rem;
  margin-bottom: 1.875rem;
}

.description {
  font-style: italic;
  font-weight: 200;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.clue {
  margin-left: 0.25rem;
  font-size: 0.9rem;
  color: #e4e4e4;
}

.text-center {
  text-align: center;
}

/* form */

form {
  background: var(--color-darkblue-alpha);
  padding: 2.5rem 0.625rem;
  border-radius: 0.25rem;
}

@media (min-width: 480px) {
  form {
    padding: 2.5rem;
  }
}
.form-group {
  margin: 0 auto 1.25rem auto;
  padding: 0.25rem;
}

.form-control {
  display: block;
  width: 100%;
  height: 2.375rem;
  padding: 0.375rem 0.75rem;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.input-radio,
.input-checkbox {
  display: inline-block;
  margin-right: 0.625rem;
  min-height: 1.25rem;
  min-width: 1.25rem;
}

.input-textarea {
  min-height: 120px;
  width: 100%;
  padding: 0.625rem;
  resize: vertical;
}

.submit-button {
  display: block;
  width: 100%;
  padding: 0.75rem;
  background: var(--color-green);
  color: inherit;
  border-radius: 2px;
  cursor: pointer;
}
.material-ui-shadow {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.material-ui-shadow:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
footer {
    
    text-align: center;
    font-size: 1rem;
    color: white;
    bottom: 0;
    padding: 5px;
    line-height: 3vh;
}
a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
